* {
    font-family: 'Playfair Display', serif;
}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.nav-icons {
    width: 80px;
    padding: 0px 25px 0px 25px;
}

.navbar {
    border-bottom: 1px solid black;
}

.fill-image-on {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.btn-setting {
    border: 1px solid gray;
    width: 100px;
}

.row-setting {
    border-bottom: 1px solid black;
}

.img-1 {
    height: 600px;
}

.img-2,
.img-3 {
    height: 450px;
}

.gallery-images {
    height: 360px;
}

.heading-t {
    margin: 0 auto;
    text-align: center;

}

.bot-ico-set {
    width: 50px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50%;
}

.hover-info {
    background-color: rgba(0, 0, 0, 0.548);
    height: 370px;
    visibility: hidden;

}

.gallery-block:hover .hover-info {
    visibility: visible;

}

.btn-setting-more {
    border: 2px solid gray;
    width: 100px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
}

.feature-card {
    height: 300;
}


.border-setting-1 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.border-setting-2 {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}


.border-setting-3 {
    border-bottom: 1px solid black;
}


.border-setting-4 {
    border-right: 1px solid black;
}


.border-setting-5 {
    border-right: 1px solid black;
}


@media (max-width: 768px) {
    .border-setting-2 {
        border-right: none;
    }

    .border-setting-3 {
        border-right: 1px solid black;
    }

    .border-setting-4 {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .un-vis {
        display: none;
    }

    .row-form {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width: 576px) {
    .border-setting-1 {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .border-setting-2 {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .border-setting-3 {
        border-bottom: 1px solid black;
        border-right: none;
    }

    .border-setting-4 {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .border-setting-5 {
        border-right: none;
        border-bottom: 1px solid black;
    }

    .border-setting-6 {
        border-bottom: 1px solid black;
    }

    .un-vis-1 {
        display: none;
    }

    .row-form {
        width: 100%;
        margin: 0 auto;
    }
}

.row-form {
    width: 70%;
    margin: 0 auto;
}